.icon_a2a {
    background-color: #0166FF;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PGcgZmlsbD0iI0ZGRiI+PHBhdGggZD0iTTE0IDdoNHYxOGgtNHoiLz48cGF0aCBkPSJNNyAxNGgxOHY0SDd6Ii8+PC9nPjwvc3ZnPg==)
}

.icon_facebook {
    background-color: #0866FF;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTI4IDE2YzAtNi42MjctNS4zNzMtMTItMTItMTJTNCA5LjM3MyA0IDE2YzAgNS42MjggMy44NzUgMTAuMzUgOS4xMDEgMTEuNjQ3di03Ljk4aC0yLjQ3NFYxNkgxMy4xdi0xLjU4YzAtNC4wODUgMS44NDktNS45NzggNS44NTktNS45NzguNzYgMCAyLjA3Mi4xNSAyLjYwOC4yOTh2My4zMjVjLS4yODMtLjAzLS43NzUtLjA0NS0xLjM4Ni0uMDQ1LTEuOTY3IDAtMi43MjguNzQ1LTIuNzI4IDIuNjgzVjE2aDMuOTJsLS42NzMgMy42NjdoLTMuMjQ3djguMjQ1QzIzLjM5NSAyNy4xOTUgMjggMjIuMTM1IDI4IDE2Ii8+PC9zdmc+)
}

.icon_email {
    background-color: darkslategray;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTI3IDIxLjc3NXYtOS45cy0xMC4wMSA2Ljk4NS0xMC45ODIgNy4zNDhDMTUuMDU4IDE4Ljg3OCA1IDExLjg3NSA1IDExLjg3NXY5LjljMCAxLjM3NS4yOTMgMS42NSAxLjY1IDEuNjVoMTguN2MxLjM5MyAwIDEuNjUtLjI0MiAxLjY1LTEuNjVtLS4wMTctMTEuODQxYzAtMS4wMDItLjI5MS0xLjM1OS0xLjYzMy0xLjM1OUg2LjY1Yy0xLjM4IDAtMS42NS40MjktMS42NSAxLjQzbC4wMTYuMTU0czkuOTM5IDYuODQyIDExIDcuMjE2QzE3LjE0IDE2Ljk0MSAyNyAxMC4wMDUgMjcgMTAuMDA1eiIvPjwvc3ZnPg==)
}

.icon_linkedin {
    background-color: #007BB5;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuMjI3IDEyLjYxaDQuMTl2MTMuNDhoLTQuMTl6bTIuMDk1LTYuN2EyLjQzIDIuNDMgMCAwIDEgMCA0Ljg2Yy0xLjM0NCAwLTIuNDI4LTEuMDktMi40MjgtMi40M3MxLjA4NC0yLjQzIDIuNDI4LTIuNDNtNC43MiA2LjdoNC4wMnYxLjg0aC4wNThjLjU2LTEuMDU4IDEuOTI3LTIuMTc2IDMuOTY1LTIuMTc2IDQuMjM4IDAgNS4wMiAyLjc5MiA1LjAyIDYuNDJ2Ny4zOTVoLTQuMTgzdi02LjU2YzAtMS41NjQtLjAzLTMuNTc0LTIuMTc4LTMuNTc0LTIuMTggMC0yLjUxNCAxLjctMi41MTQgMy40NnY2LjY2OGgtNC4xODd6Ii8+PC9zdmc+)
}

.icon_x {
    background-color: black;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTIxLjc1MSA3aDMuMDY3bC02LjcgNy42NThMMjYgMjUuMDc4aC02LjE3MmwtNC44MzMtNi4zMi01LjUzMSA2LjMyaC0zLjA3bDcuMTY3LTguMTlMNiA3aDYuMzI4bDQuMzcgNS43NzdMMjEuNzUgN1ptLTEuMDc2IDE2LjI0MmgxLjdMMTEuNDA0IDguNzRIOS41OGwxMS4wOTQgMTQuNTAzWiIvPjwvc3ZnPg==)
}
